$style-blue : #5c6fc5;

#app {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.nav-right{
  li{
    cursor: pointer;
    padding-right: 1px;
  }
}

.btn{
  margin-left: 8px;
}

.cancel-btn{
  background: rgb(193, 80, 85);
  &:hover{
    background: rgb(255, 50, 56);
  }
}

.page-footer{
  padding-top: 0px !important;
  background-color: $style-blue !important;
  .font-awesome{
    margin-top: 4px;
    a { color: inherit; }
    .fa{
      padding-left: 0.35em;
      cursor: pointer;
    }
  }
}

.radio-button-css{
  position: relative !important;
  z-index: 12;
  cursor: pointer;
  // opacity: 1 !important;
  left: 18px !important;
}

@media only screen and (max-width: 992px) {
  .brand-logo{
    left: 0px !important;
    transform: translateX(0%) !important;
  }
}

@media only screen and (min-width: 420px) {
  // canvas{
  //   height: 300px;
  // }
}
