$style-blue : #5c6fc5;

#app {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.nav-right{
  li{
    cursor: pointer;
    padding-right: 10px;
  }
}


.page-footer{
  padding-top: 0px !important;
  background-color: $style-blue !important;
  .font-awesome{
    margin-top: 4px;
    a { color: inherit; }
    .fa{
      padding-left: 0.35em;
      cursor: pointer;
    }
  }
}

@media only screen and (max-width: 992px) {
  .brand-logo{
    left: 0px !important;
    transform: translateX(0%) !important;
  }
}
